<nav class="container-fluid navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="/home"> <i class="fa fa-2x fa-github" aria-hidden="true"> </i></a>
  <div class="nav">
    <div class="navbar-nav">

      <a class="nav-item nav-link active" routerLink="/home" routerLinkActive='active'>Home<span
          class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/user" routerLinkActive="active">Search User</a>
      <a class="nav-item nav-link " routerLink="/repos" routerLinkActive="active">Search Repos</a>
    </div>
  </div>
</nav>
