body{
    margin: 0;
    padding: 0;
    background-color: #f2b5d4;
}
.navbar{
    background-color:#343a40 ;
}

.container{
    border: 2px solid black;
    border-radius: 40px;
    width: 30%;
}
.container img{
    margin-top: 2%;
    margin-left: -2%;
    width: 200px;
    height: 200px;

}