<!-- <div>
    <p>{{User.following}}</p>
    <img src="{{User.avatar_url}}">
</div> -->
 <form class="d-flex">
   <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="Username"
     name="username" (keyup)="findUser()">

 </form>
<div class="container">
  <img src="{{User.avatar_url}}">
  <p>{{User.login}}</p>
  <p>{{User.location}}</p>
  <p>{{User.bio}}</p>
  <!-- <a>{{User.public_repos}}</a> -->
  <a href="repos_url" target="_blank">{{User.repos_url}}</a>


</div>
<div class="col-md-12 repo m-3">
  <div class="row">
    <div class="col-md-4 card" *ngFor="let repo of repos">
      <a href="{{repo.html_url}}">
        <h5>{{repo.name}}</h5>
        <p>{{repo.description}}</p>
      </a>
      <div class="repo">
        <p>{{repo.language}}</p>
        <p>Created on {{repo.created_at | date}}</p>
        <p>{{repo.forks_count}} forks </p>
      </div>

    </div>
  </div>
</div>